.category{
   height: 75px;
   width: 100%;
   border-bottom: 1px solid rgb(204, 204, 204);
   display: flex;
   align-items: center;
   gap: 15px;
}
.category h2{
   margin-left: 20px;
   font-size: 24px;
   font-weight: 500;
   line-height: 29px;
   color: #000;
}
.category-list{
   display: flex;
   gap: 15px;
   align-items: center;
   width: 100%;
}
.btn{
   display: flex;
   align-items: center;
   padding: 8px 12px;
   height: 36px;
   font-size: 16px;
   font-weight: 500;
   line-height: 19px;
   border-radius: 50px;
   background: #EDEDED;
   outline: none;
   border: none;
}