.desc{
   display: flex;
   gap: 20px;
   flex-direction: column;
   padding: 20px;
}
.desc h3{
   font-weight: 500;
   font-size: 26px;
   line-height: 31px;
   color: #000;
}
.desc ul{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.desc ul > li{
   font-size: 20px;
   line-height: 24px;
}

@media(max-width: 1024px){
   .desc{
      gap: 10px;
      padding: 15px;
   }
   .desc h3{
      font-size: 18px;
      line-height: 25px;
   }
   .desc ul{
      gap: 10px;
   }
   .desc ul > li{
      font-size: 16px;
      line-height: 20px;
   }
}
@media(max-width: 768px){
   .desc{
      gap: 5px;
      padding: 10px;
   }
   .desc h3{
      font-size: 16px;
      line-height: 22px;
   }
   .desc ul{
      gap: 7px;
   }
   .desc ul > li{
      font-size: 14px;
      line-height: 17px;
   }
}
@media(max-width: 420px){
   .desc{
      gap: 2px;
      padding: 5px;
   }
   .desc h3{
      font-size: 13px;
      line-height: 18px;
   }
   .desc ul{
      gap: 5px;
   }
   .desc ul > li{
      font-size: 12px;
      line-height: 14px;
   }
}